body {
    background-color: gray;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

#button-container button {
    margin: 1px;
}

#result-container div {
    background-color: azure;
    padding:20px 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#result-container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    margin-top: 20px;
}
